body {
    background-color: #EAEAF3; 
}

.navigation .navbar-brand {
    color: #FFFFFF; 
    margin-left: 30px; 
    padding: inherit; 
    font-weight: bold; 
    background-color: #000066;
}

.navbar {
    background-color: #FFFFFF; 
    font-size: 15px; 
}

a {
    color: #6D8092;
    font-size: 15px; 
}

.navbar-brand:hover{
color: #FFFFFF;
}

img {
    width:100%;
    height:100%;
}
.active, .panel:hover {
    border-color: #000066;
    border-style: solid; 
    
}
.visualization {
    width:50%;
    height:50%;
}

.title {
    color: #000066;  
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bolder; 
    padding-top: 25px; 
}

p {
 color: #4E677F;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 17px; 
}

.box {
    margin-top: 60px; 
    margin-bottom: 62px; 
    padding: 10px 20px 15px; 
    color: #000000;
    background-color: #FFFFFF; 

  }

  .table{
    font-size: 15px; 
    border-top-color: #FFFFFF; 
}

footer{
background-color: #333333; 
border-top-style: solid; 
border-top-width: 5px; 
border-top-color: #000066;
color: white; 
min-height: 55px; 
font-family: Arial, Helvetica, sans-serif;
font-size: 15px; 
text-align: center; 
position: fixed;
left: 0;
bottom: 0;
width: 100%;
padding-top: 15px; 
}

@media(max-width: 992px) {
.navbar-expand-lg{
background-color: #000066;
}
	
.navbar {
    max-height: none; 
    padding: inherit;
}
	
.navbar div {
    margin: inherit; 
    background-color: #FFFFFF;  
}
	
.navbar-brand {
    padding: 10px; 
}
}